nav#webpage ul li{
    list-style-type:none;
    display: inline-block;
    margin-right: 40px;
}
#webpage ul li a {
    padding: 5px 10px; /* Add padding to the links */
    transition: color 0.2s; /* Add a smooth transition effect for the color change */
}

#webpage ul li a:hover {
    color: green; /* Set the text color to green when hovering */
}
.deakin img{
    position: relative;
    width: 100%;
    height: 700px;
    border: 2px solid black;
}
.deakin .con{
    position: absolute;
    margin-top: -10%;
    background-color: rgba(15, 15, 15, 0.7);
    color: aliceblue;
    width: 98.99%;
    padding: 1px;
    text-align: center;
    font-size: 20px;
    opacity: 0;
}

.deakin .con:hover{
    opacity: 1;
}
.SecondImage{
    margin-top: 30px;
    width: 300px; 
    height: 300px; 
    border-radius: 110%; 
    border: 3px solid green;
    /* margin: 30px auto; */
    margin-left: 600px;
    margin: 100px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
@media screen and (max-width: 768px) {
    .SecondImage {
        max-width: 200px; /* Adjust the maximum width of the image on small screens */
    }
}
.Intro{
    text-align: center;
    color: aqua;
    font-size: 35px;
}
.line{
    border: none; 
    margin: 20px auto;
    width: 700px;
    height: 3px;
    background-color: aqua
}
.heading{
    margin-top: 50px;
    text-align: center;
    color: aqua;
}
.project {
    margin-top: 30px;
    position: relative; 
    display: flex; /* Ensure the container wraps around the image and text */
    align-items: center; 
}
.projectImage {
    width: 500px;
    height: 350px;
    margin-left: auto;
    border-radius: 10px;
    overflow: hidden; /* Hide any overflowing content */
}
.projectImage img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Maintain image aspect ratio and cover the container*/
    padding-left: 20%;
} 
.pr {
    color: green;
    font-size: 20px;
    flex: 1; 
    text-align: justify; /* Justify the paragraph */
    margin-left: 20px;
    padding-right: 20%;
}
.proImage{
    width: 500px; 
    height: 350px; 
    border: 3px solid green;
    margin-left: 300px;
    border-radius: 10px;
}
.line{
    border: none; 
    margin: 20px auto;
    width: 700px;
    height: 3px;
    background-color: aqua
}
.myimages{
    width: 90%;
    padding: 20px;
    margin: 100px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.myimage{
    width: 250px; 
    margin: 0 10px;
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, .1);
}
.myimage img{
    display: block;
    width: 105%;
    height: 400px;
    border-radius: 5px;
    border: 2px solid pink;
}
